body {
	margin:0 auto 0;
	background:#fff;
	font:400 14px/24px Open Sans, sans-serif;
	line-height:190%;
	text-align:left;
	font-family: Open Sans;
}


a {
	color:#666666;
	text-decoration: none;
}

a:hover,
a:focus,
.entry a:hover,
.entry a:focus {
	color:#af8270;
	text-decoration: none;
}

.entry a {
	color:#af8270;
}

img {
	margin:2px;
	padding:2px;
}


img.noborder {
	border:0!important;
	padding:0!important;
	margin:0!important;
	box-shadow:0!important;
}

strong, b {
	font-weight:700;
	color:#474747;
}


em {
	font-style:italic;
	color: #363636;
}

i {
	color: #363636;
}

body,
a {
	color:#666666;
}

.post-head .post-meta a:hover,
.ext-links a,
.side a,
.footer-content a,
.footer a {
	color:#af8270;
	text-decoration: none;
}

.side a:hover,
.footer-content a:hover,
.site-footer a:hover {
	color:#474747;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-weight:700;
	text-transform:uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
.mobile-name h1 {
	color: #474747;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
form {
	margin: 14px 0;
}

h1 {
	font-size:22px;
}

h2 {
	font-size:20px;
}

h3,
h4 {
	font-size:18px;
}

h5,
h6 {
	font-size:16px;
}

.related-header,
.comments-area h2,
.comment-reply-title {
	margin:0 0 60px 0;
}

.related-header h2,
.comments-area h2,
.comment-reply-title,
.comment-navigation h3 {
	text-align:center;
	letter-spacing:2px;
}

.side-title,
.footer-content h2 {
	font-size:13px;
	
	font-weight:700;
	font-style:normal;
	color:#474747;
	line-height:110%;
	letter-spacing:3px;
	text-transform:uppercase;
	text-align:center;
}

.footer-content h2:after,
.side-title:after {
	display:block;
	content:' ';
	width:75px;
	height:3px;
	background:#af8270;
	margin:0 auto;
	position:relative;
	top:10px; left:0;
}



img, 
a,
a:hover:after,
.button a,
button,
a.img-btn {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

body,
img,
.spec, 
.spec-alt,
.first-area,
.second-area, 
.second-area .site-welcome,
.second-area .headlines,
.second-area ,
.footer-content,
.footer-content .widget, select {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

img,
.site-branding .tag-line,
.second-area .fa,
.second-area .mast-img {
	border-radius:4px;
}

.footer-content ul li,
 ul li {
	border-bottom:1px solid #DFDFDF;
}

img,
.side {
	border: 1px solid #dfdfdf;
	box-shadow: 0 3px 3px rgba(0,0,0,0.035);
}



.clear {
	clear: both; 
}


.spec,
.spec-alt,
.footer-content .spec-alt,
.site-footer .spec-alt {
	margin:0 auto; 
	position:relative; 
	max-width:1200px;
}



.footer-content {
	background:#fff;
	position:relative;
	padding:2% 0 2%;
	color:#666666;
	font-size:13px;
	overflow:hidden;
}

.footer-content .spec-alt {
	margin:0 auto;
	position:relative;
	z-index:15;
}

.footer-content:before {
	margin: 0 auto;
	margin-bottom:25px;
	content:' ';
	background-image: linear-gradient(135deg, 
	#dfdfdf 8.33%, 
	#ffffff 8.33%, 
	#ffffff 50%, 
	#dfdfdf 50%, 
	#dfdfdf 58.33%, 
	#ffffff 58.33%, 
	#ffffff 100%);
	background-size: 8.49px 8.49px;
	height:10px;
	max-width:1300px;
	display:block;
	position: relative;
	top:15px;
}

.footer-content h2 {
	margin:0 0 30px;
	display:block;
	position:relative;
}

.footer-content ul {
	list-style:none inside none; 
	margin:0; 
	padding:0; 
}

.footer-content ul li {
	margin-bottom:2px;
	padding: 2px 0; 
}

.footer-content .widget {
	display:inline-block;
	padding:3%;
	width:33%;
	vertical-align:top;
}


@media only screen and (min-width:967px), only screen and (min-width:967px) {
	
.mobile-name, 
.hide,
.desktop {
	display: none!important;
}

.spec {
	margin:30px auto 0;
	overflow:hidden;
	padding:0;
}





.first-area {
	margin:0 auto 0;
	padding:0;
	display:block;
	overflow:hidden;
	position: relative;
  	z-index:5;
	text-align:center;
}




.site-branding {
	margin:0 auto;
	display:block;
	position:relative;
	top:5px; z-index:99;
	text-align:center;
	overflow:hidden;
}

.site-branding .site-name {
	display:block;
	position:relative; 
	top:25px; right:0;
	font: 400 26px Open Sans;
	color:#C8C8C8;
	letter-spacing:1px;
	line-height:38px;
	min-height:80px;
}

.site-branding .tag-line {
	display:inline-block;
	padding:3px 8px 4px 8px;
	font: 400 10px Open Sans, sans-serif;
	color:#5A5A5A;
	text-transform:none;
	letter-spacing:1px;
	position:relative; 
	top:-14px; left:0;
	border:1px solid #DFDFDF;
}

.site-branding .site-name i {
	
	color:#af8270;
	font-weight:400;
	font-style:normal;
}

.site-branding .site-name b {
	color:#5A5A5A;
	font-weight:400;
}


.second-area {
	margin:20px auto 0;
	padding:0;
	display:block;
	font-size:13px;
	position:relative;
}

.second-area .site-welcome h1:before,
.second-area .headlines h1:before {
	content:' ';
	margin:0 0 0 0;
	background-image: linear-gradient(135deg, 
	#e1dad9 8.33%, 
	#ffffff 8.33%, 
	#ffffff 50%, 
	#e1dad9 50%, 
	#e1dad9 58.33%, 
	#ffffff 58.33%, 
	#ffffff 100%);
	background-size: 8.49px 8.49px;
	height:8px;
	width:100%;
	border:0; 
	position:absolute;
	top:10px; left:0;
	z-index:1;
}

.second-area .site-welcome h1,
.second-area .headlines h1 {
	margin:0 0 10px;
	font-size: 18px;
	color:#575757;
	text-transform:none;
	position:relative; 
	text-align:right;
}

.second-area .site-welcome h1 span,
.second-area .headlines h1 span {
	background:#fff;
	padding:0 0 0 3%;;
	position:relative; 
	z-index:10;
}


.second-area .fa {
	margin:0 6px 0 0;
	padding:7px 0 0;
	position:relative; 
	top:0; z-index:50;
	color:#af8270;
	font: 400 14px fontawesome;
}



.second-area .headlines,
.second-area .site-welcome {
	width:65%;
	float:left;
	margin-left:25px;
}

.second-area .headlines {
	padding:0 0 0 0;
	position:relative;
	top:40px;
}

.second-area .site-welcome {
	padding:0;
	text-align:justify; 
	line-height:170%;
	max-height:240px;
	overflow:hidden;
}

.second-area .site-welcome strong {
	color:#474747;
}

.second-area .site-welcome u {
	box-shadow:inset 0 -10px 0 #EEEEEE;
	font-weight:400;
	text-decoration:none;
}

.second-area .site-welcome em {
	color:#575757;
}

.second-area .headlines ul {
	margin:0;
	display: inline;
	list-style: none!important;
}

.second-area .headlines ul li {
	margin-bottom:0;
	padding:12px 0;
	border-bottom:1px solid #EEEEEE;
	line-height:20px;
}

.second-area .headlines ul li:last-child  {
	border:0;
}

.second-area .headlines ul li:before {
	margin-right:10px;
	content:'\f15c';
	font:400 15px fontawesome;
	color:#575757;
}

.second-area .headlines ul li a {
	color:#575757; 
}



.second-area .mast-img {
	margin:0 auto 0; 
	position:relative; 
	display:block; 
	float:left;
	width:30.8%; 
	height:350px; 
	background-image:url('/img/header.png'); 
	background-repeat: no-repeat; 
	background-position:center top;
}




@media only screen and (max-width: 966px), only screen and (max-device-width: 966px) {
	


body {
	margin:0!important;
	padding:0!important;
	overflow-x:hidden;
}

.spec,
.footer-content,
.footer-content:before,
.site-footer .spec-alt,
#content,
#sidebar,
.related-posts,
.posts-pagination-single {
	margin-left: auto;
	margin-right: auto;
	width:92vw!important;
}

.spec-alt {
	width:100%; 
	max-width:none!important
}

.first-area {
	margin:0 auto; 
	z-index:899; 
	width:100%!important;
	position:relative!important;
}




#content,
#sidebar {
	margin:0 auto;
	float:none!important;
}

#content {
	margin:25px auto 0!important;
	display:block;
	width:100%!important;
}

#content .post {
	margin-bottom:55px!important;
}

.entry {
	margin:0 auto 0;
	padding:0 0 15px;
}

.posts-pagination {
	margin:25px 0;
}

.grid-item {
	display:block;
	width: 100%!important;
	margin: 0 0 46px 0!important;
}

.grid-item .entry {
	padding:0%!important;
}

.grid-item .more-link {
	margin:-10px auto 0;
}

.grid-item .post-thumbnail {
	margin: 10px 0 15px 0!important;
	max-height:200px!important;
}

.list-item .post-thumbnail {
	width:40%!important;
	max-width:250px!important;
}

.related-header{
	margin:0;
	padding:0;
}
	
.related-item {
	margin: 25px 0;
	padding: 0 5px;
}

.footer-imgs .title {
	margin: 0;
	padding: 10px 20px;
	font-size: 12px;
	line-height:18px;
}

.footer-imgs img {
	margin:0;
}


.footer-imgs .instagram-pics li {
	width: 33.33%;
}

	
.footer-content {
	margin:0 auto;
	padding:4vw 0;
}

.footer-content:before {
	margin-bottom:65px;
	top:25px;
}

.footer-content .widget {
	margin:0 auto 55px!important;
	padding:0;
	width:100%!important;
	vertical-align:top;
	display:block!important;
}

.site-footer {
	margin:25px auto 0!important;
	padding:10px 0;
	text-align:jusitify!important;
}

.site-footer .site-info {
	padding:5px 0 3px;
}

.site-footer .site-disclaimer {
	width:100%!important;
}
}



@media only screen and (max-width: 481px), only screen and (max-width: 481px) {

.mobile,
.list-item .entry,
.list-item .post-meta:after,
.navigation-container .social-nav {
	display: none!important;
}

.mobile-name {
	top: 20px; right: 8%;
	transform: translate(10%, -4% )!important;
	position:absolute;	
}
